.feedback {
  padding: 120px 100px 30px;

  @include vp-1199 {
    padding: 100px 45px 33px;
  }

  @include vp-767 {
    padding: 67px 15px 15px;
  }
}

.feedback__container {
  max-width: 1240px;
  margin: 0 auto;
  background-color: $color-cerulean-blue;
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 16px;

  picture {
    position: absolute;
    z-index: 1;
    right: 0;
    height: 100%;

    @include vp-767 {
      display: none;
    }
  }

  img {
    border-radius: 16px;
    min-height: 803px;
    height: 100%;
    background-color: $color-cerulean-blue;

    @include vp-1199 {
      min-height: unset;
    }
  }
}

.feedback__title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  color: $color-default-white;
  text-align: start;
  margin: 0 0 24px;
  padding: 0;

  @include vp-1199 {
    font-size: 28px;
    line-height: 28px;
    margin: 0 0 27px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 16px;
  }
}

.feedback__form {
  color: $color-default-white;
  position: relative;
  z-index: 2;
  background-color: $color-cerulean-blue;
  padding: 82px 74px 51px;
  max-width: 498px;
  border-radius: 16px;

  @include vp-1199 {
    padding: 60px 45px 56px;
    max-width: unset;
    width: 65.2%;
  }

  @include vp-767 {
    padding: 50px 15px;
    width: 100%;
  }

  p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    text-align: start;
    color: $color-alabaster;
    margin: 0 0 21px;
    padding: 0;

    @include vp-1199 {
      line-height: 20px;
      margin: 0 0 34px;
    }

    @include vp-767 {
      font-size: 14px;
      margin: 0 0 27px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 18px 0;
  }

  @include vp-767 {
    form {
      gap: 20px 0;
    }
  }

  .custom-input,
  .custom-textarea,
  .custom-select,
  .custom-toggle {
    input {
      border-color: rgba($color-default-white, 0.3);
    }

    @include vp-767 {
      span {
        font-size: 12px;
      }
    }
  }

  .custom-select {
    gap: 13px 0;
  }

  .custom-select__button--primary,
  .custom-toggle__icon--primary {
    border-color: rgba($color-default-white, 0.7);
  }

  .custom-select__button--primary {
    @include vp-767 {
      min-height: 50px;
    }
  }

  .custom-input--primary label,
  .custom-textarea--primary label {
    @include vp-767 {
      gap: 11px 0;
    }
  }

  .custom-input--primary input,
  .custom-textarea--primary input {
    @include vp-767 {
      padding: 11px 20px 19px;
    }
  }
}

.feedback__button {
  font-size: 15px;
  line-height: 14px;
  font-weight: 500;
  justify-content: center;
  align-self: center;
  position: relative;
  margin: 23px 0 0;
  padding: 0 50px 0 0;
  color: $color-default-white;
  border: 1px solid $color-default-white;
  text-transform: uppercase;
  width: 100%;

  @include vp-1199 {
    margin: 21px 0 0;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
    align-self: stretch;
    margin: 9px 0 0;
    padding: 0 38px 0 0;
    width: 100%;
  }

  svg {
    background-color: $color-default-white;
    color: $color-cerulean-blue;
  }

  &:hover,
  &:focus {
    background-color: $color-default-white;
    color: $color-cerulean-blue;

    svg {
      background-color: $color-cerulean-blue;
      color: $color-default-white;
    }
  }

  &:active {
    color: rgba($color-cerulean-blue, 0.7);

    svg {
      color: rgba($color-default-white, 0.7);
    }
  }

  &:disabled {
    color: $color-mischka;

    svg {
      background-color: $color-mischka;
      color: $color-default-white;
    }
  }
}
