.hero {
  margin-top: 0;
  background-color: $color-hawkes-blue;
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hero__item {
  display: flex;
  height: auto;
  min-height: 800px;

  @include vp-1199 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
  }

  picture {
    position: absolute;
    z-index: -1;
    display: flex;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $overlay-blue;
      inset: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.swiper-slide-active .hero__content {
  visibility: visible;
}

.hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 100px 60px;
  margin: 0 auto;
  max-width: 1440px;
  visibility: visible;
  transition: visibility $trans-default;

  @include vp-1199 {
    padding: 30px 45px 60px;
    margin-top: 625px;
  }

  @include vp-767 {
    padding: 20px 15px;
    margin-top: unset;
  }

  h2 {
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    text-align: start;
    color: $color-cerulean-blue;
    max-width: calc(78% + 1px);
    margin: 0;
    padding: 40px 50px 30px;
    background-color: $color-default-white;
    border-radius: 0 30px 30px 0;

    @include vp-1199 {
      font-size: 36px;
      line-height: 44px;
      max-width: calc(97% + 1px);
      padding: 30px 40px 24px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 26px;
      width: 100%;
      max-width: 100%;
      padding: 17px 14px;
      border-radius: 0 16px 13px 0;
    }
  }
}

.swiper .hero__pagination {
  position: relative;
  bottom: 0;
  display: flex;
  width: auto;
  padding: 14px 15px;
  background-color: $color-default-white;
  border-radius: 20px 20px 0 0;
  gap: 0 5px;

  &::before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-image: url('../img/svg/angle-up.svg');
    background-repeat: no-repeat;

    @include vp-1199 {
      right: -20px;
      top: 18px;
    }

    @include vp-767 {
      right: -16px;
      top: 9px;
    }
  }

  @include vp-1199 {
    margin: 3px 0 -2px;
    padding: 15px 15px;
  }

  @include vp-767 {
    border-radius: 12px 12px 0 0;
    padding: 8px 11px 14px;
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: $color-default-white;
  border: 1px solid $color-cerulean-blue;
  opacity: 1;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}

.swiper .swiper-pagination-bullet-active {
  background-color: $color-cerulean-blue;
}

.hero__text {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: -8px 468px 0 0;
  padding: 0 50px 29px;
  background-color: $color-default-white;
  border-radius: 0 0 30px 30px;
  gap: 0 30px;

  @include vp-1199 {
    margin: -4px 0 0 0;
    padding: 0px 40px 33px;
    max-width: calc(87% + 1px);
    width: 100%;
  }

  @include vp-767 {
    background-color: unset;
    max-width: unset;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    right: -18px;
    width: 20px;
    height: 20px;
    background-image: url('../img/svg/angle-down.svg');
    background-repeat: no-repeat;

    @include vp-1199 {
      top: 3px;
    }

    @include vp-767 {
      display: none;
    }
  }

  p {
    text-align: start;
    width: 446px;
    margin: 0;
    position: relative;

    @include vp-1199 {
      font-size: 16px;
      line-height: 20px;
      margin: 0;
      min-width: 285px;
      width: unset;
    }

    @include vp-767 {
      font-size: 14px;
      padding: 0 10px 11px 15px;
      min-width: unset;
      max-width: calc(90% + 1px);
      width: 100%;
      margin: -4px 0 0;
      display: flex;
      flex-direction: column;
      border-radius: 0 0 14px 0;
      background-color: $color-default-white;

      &::after {
        content: "";
        position: absolute;
        top: -6px;
        right: -18px;
        width: 20px;
        height: 20px;
        background-image: url('../img/svg/angle-down.svg');
        background-repeat: no-repeat;
      }
    }
  }
}

.hero__button-wrapper {
  align-self: center;

  &::before {
    @include vp-767 {
      content: "";
      position: absolute;
      top: -9px;
      right: -19px;
      width: 20px;
      height: 20px;
      background-image: url('../img/svg/angle-down.svg');
      background-repeat: no-repeat;
    }
  }

  @include vp-1199 {
    margin: -15px 0 0;
  }

  @include vp-767 {
    position: relative;
    margin: 0;
    padding: 10px 15px;
    background-color: $color-default-white;
    border-radius: 0 0 14px 14px;
    align-self: start;
  }
}
