.instruction {
  padding: 125px 100px 107px;
  background-color: $color-cerulean-blue;

  @include vp-1199 {
    padding: 98px 45px 100px;
  }

  @include vp-767 {
    padding: 67px 15px;
  }
}

.instruction__container {
  max-width: 1240px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 33px;
  margin: 0 auto;

  @media (min-width: 1200px) and (max-width: 1439px) {
    gap: 0;
  }

  @include vp-1199 {
    display: flex;
    flex-direction: column;
  }

  img {
    width: 498px;
    height: 363px;
    border-radius: 16px;
    background-color: $color-cerulean-blue;

    @include vp-1199 {
      width: 100%;
      height: 100%;
    }
  }
}

.instruction__text {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0 100px 0 0;

  p {
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 33px;
    padding: 0;
    color: $color-alabaster;

    @include vp-1199 {
      line-height: 20px;
      padding: 0 150px 0 0;
      margin: 0 0 36px;
    }

    @include vp-767 {
      font-size: 14px;
      margin: 0 0 25px;
      padding: 0;
    }
  }

  @include vp-1199 {
    padding: 0;
  }
}

.instruction__title {
  margin: 0 0 28px;
  padding: 0;
  color: $color-default-white;

  @include vp-767 {
    margin: 0 0 15px;
  }
}

.instruction__conditions {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 0;
  padding: 0;
  counter-reset: instruction__conditions;
}

.instruction__subtitle {
  font-family: $ff-manrope;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  margin: 3px 0 55px;
  padding: 0 70px 0 0;
  color: $color-default-white;

  @include vp-1199 {
    font-size: 28px;
    line-height: 28px;
    padding: 0;
    margin: 12px 0 41px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 20px;
    margin: 4px 0 28px;
  }
}

.instruction__list {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 0 0 0 19px;
  list-style-type: none;
  margin: 0;

  @include vp-1199 {
    display: grid;
    grid-template-columns: repeat(2,46.4%);
    gap: 25px 47px;
    padding: 0 0 0 20px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 15px;
    gap: 15px;
  }
}

.instruction__item {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  position: relative;
  padding: 22px 65px 22px 24px;
  border: 1px solid $color-alabaster;
  border-radius: 16px;
  color: $color-alabaster;
  width: 82%;

  &::before {
    content: counter(instruction__conditions);
    position: absolute;
    top: -16px;
    left: -22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.22px;
    background-color: $color-cerulean-blue;
    color: $color-default-white;
    counter-increment: instruction__conditions;

    @include vp-767 {
      width: 27px;
      height: 32px;
      font-size: 18px;
      line-height: 18px;
      top: -7px;
      left: -14px;
    }
  }

  @media (min-width: 1200px) and (max-width: 1439px) {
    padding: 22px;
  }

  @include vp-1199 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    padding: 25px;
  }

  @include vp-767 {
    font-size: 14px;
    padding: 18px 22px 18px 25px;
  }
}
